<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.kelompok_puskesmah">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kelompok_PusKesMah"
        tools:targetApi="31">
        <activity
            android:name=".detaildokterjanji"
            android:exported="false" />
        <activity
            android:name=".pilihdokterjanji"
            android:exported="false" />
        <activity
            android:name=".Detaildokter"
            android:exported="false" />
        <activity
            android:name=".akun"
            android:exported="false" />
        <activity
            android:name=".konsultasi"
            android:exported="false" />
        <activity
            android:name=".janjioffline"
            android:exported="false" />
        <activity android:name=".HomeActivity" />
        <activity
            android:name=".SignInActivity"
            android:exported="false"
            android:theme="@style/Theme.Kelompok_PusKesMah" /> <!-- Deklarasi untuk MainActivity2 -->
        <activity
            android:name=".MainActivity2"
            android:exported="false" /> <!-- Jika tidak diekspos ke aplikasi lain -->
        <!-- Deklarasi untuk MainActivity dengan intent-filter -->
        <activity
            android:name=".MainActivity"
            android:exported="true"> <!-- Ini harus true karena memiliki intent-filter -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>